/nbproject/private/
/build/
/dist/
/scripts/BrahmsRequiem/resources/
/scripts/BoismortierSonate_1/resources/
/scripts/VivaldiTrios/resources/
/scripts/JamesHookTrios/resources/
/scripts/Vivaldi_4_Stagioni/resources/