/nbproject/private/
/build/
/dist/
/scripts/BrahmsRequiem/resources/
/scripts/BoismortierSonate_1/resources/
/scripts/VivaldiTrios/resources/
/scripts/JamesHookTrios/resources/
/scripts/Vivaldi_4_Stagioni/resources/
/scripts/FingerSonaten/resources/
/scripts/SchickardtSonate/resources/
/scripts/SchickhardtSonate/resources/Schickardt.sf2
/scripts/SchickhardtSonate/resources/StringPiano.sf2
/scripts/Rondeaus/resources/Schickardt.sf2
/scripts/Rondeaus/resources/StringPiano.sf2
/scripts/AusgewaehlteDuette/resources/Schickardt.sf2
/scripts/AusgewaehlteDuette/resources/StringPiano.sf2